.dashcontainer {
  position: relative;
  padding-top: 10px;
  background-color: #000000;
color: chartreuse;
}

#botaosair {
  position: relative;
  right: 20px;
  z-index: 100;
}

#botaosair button {
z-index: 100;
  padding: 10px 16px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#botaosair button:hover {
  background: #05bfee;
}
