.topbar {
  width: 100%;
  background: #12d0ff;
  
  color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
align-self: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.topbar h1 {
  margin:15px;
  font-size: 2rem
  ;
}
.topbar nav a 
{
  padding: 10px;
  color: #ffffff;
  margin-left: 40px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.topbar nav a:hover {
  color: #00a8ff;
}

#logo-img{
  width: 90px;
  height: auto;
}