.topbar {
  width: 100%;
  background: #12d0ff;
  color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
align-self: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.topbar h1 {
  margin:15px;
  font-size: 2rem
  ;
}
.topbar nav a 
{
  padding: 1px;
  color: #ffffff;
  margin-left: 40px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.topbar nav a:hover {
  color: #00a8ff;
}

#logo-img{
  width: 90px;
  height: auto;
}

#botaosair {
  position: relative;
  display: flex;
  justify-content: center ;
  width: 100%;
  z-index: 100;
  padding: 3px;
  margin: 5px;
  top: 30px;
  background-color: chartreuse
  ;
}

#botaoum {
 text-align: left;
background-color: blue;
  width: auto;
  padding: 10px;
  margin-right: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

#botaosair button:hover {
  color: #dadada;
}
